.divJobOffer {
  border: solid rgba(174, 172, 172, 0.88) 1px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 6px 10px -8px rgba(160, 160, 160, 0.95);
  max-width: 384px;
  min-width: 96px;
  width: 90%;
  margin-bottom: 20px;
  height: 250px;
  min-width: 384px;
}

.logoHeart {
  height: 1.2rem;
  margin: 2vh;
  margin-right: 1rem;
}
.name {
  margin: 1vh;
  margin-left: 3vh;
}

.title {
  font-weight: bold;
  margin-left: 3vh;
  margin-top: 2vh;
  font-size: larger;
  margin-left: 3vh;
}
.adress {
  margin: 1vh;
  margin-left: 3vh;
}

.jobSalary {
  background-color: var(--primary-color);
  border-radius: 1vh;
  margin: 1vh;
  width: fit-content;
  padding: 0.5vh;
  color: var(--font-color-white);
  margin-left: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.head {
  display: flex;
  justify-content: space-between;
}

.contract {
  margin: 1vh;
  background-color: var(--primary-color);
  border-radius: 1vh;
  padding: 0.5vh;
  margin-left: 3vh;
  width: fit-content;
  color: var(--font-color-white);
  padding-left: 1vh;
  padding-right: 1vh;
}

.date {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}

@media (min-width: 768px) {
  .divJobOffer {
    width: 40vw;
  }
}
