.divClass {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 3rem 4rem;
  font-family: var(--font-family-text);
}

.divP {
  text-align: center;
}

.logoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spanPart {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
}

.logo {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.imgBlock {
  margin-right: 1rem;
  margin-left: 1rem;
}

.img {
  width: 80px;
}

.p {
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .divClass {
    flex-direction: row;
    justify-content: space-around;
  }
  .divP {
    width: 50%;
  }
  .logoDiv {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .spanPart {
    margin-right: 10px;
  }
  .p {
    flex-direction: row;
  }
}
