.container {
  display: inline-flex;
  justify-content: space-around;
  gap: 4vw;
  align-items: center;
  padding: 0 20px;
}

.signupButton {
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 7px;
  font-size: 1.5rem;
  padding: 3px 13%;
  font-family: var(--font-family-text);
}

.loginButton {
  background-color: white;
  border-style: none;
  border: solid black;
  border-width: 1px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 100;
  flex-shrink: 0; /* so the flexbox does not modify the shape of the button */
}
